{% load staticfiles %}<ul class="imagechoicefield">{% for group_name, choices in optgroups %}{% for choice in choices %}
  <li><label for="{{ attrs.id }}_{{ forloop.counter }}"><input type="radio" id="{{ attrs.id }}_{{ forloop.counter }}" value="{{ choice.0 }}" name="{{ name }}"{% if required %} required{% endif %}{% if choice.0 in value %} checked{% endif %}>{% if choice.1.image %} <img src="{% static choice.1.image %}"{% if choice.1.description %}alt="{{ choice.1.description }}"{% endif %} />{% else %}{{ choice.1 }}{% endif %}</label></li>
{% endfor %}{% endfor %}</ul>
